{% extends "bootstrap/base.html" %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}
{% block content %}
<style>
  .nav-item.active a.nav-link {
      position: relative;
      font-weight: bold;
  }

  .nav-item.active a.nav-link::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: -6px;
      background-color: #000;
  }
</style>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="jumbotron text-center p-4">
        <h2>INVENTORY SYSTEM</h2>
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mx-auto"> <!-- "mx-auto" for centering -->
                <li class="nav-item mx-4">
                  <a class="nav-link  text-center" href="/form1">Step 1: Login Details</a>
                </li>
                <li class="nav-item mx-4 active">
                  <a class="nav-link text-center" href="/form2">Step 2: Photo Verification</a>
                </li>
                <li class="nav-item mx-4">
                  <a class="nav-link" href="/form3">Step 3: OTP Verification</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div style="padding: 0px;margin: 0px;width:220;height:240;">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <canvas style="position: absolute; left: 0%;z-index: -1; top:0%;height: 480px;width: 640px;" id="canvas">
      </canvas>

      <button id="stop" onclick="stop()" style="display:none">stop
      </button>

      <video id="player" style="position: sticky;height: 640;width: 480;z-index: -1;" autoplay>
      </video>

      <br>

      <button id="capture" style="align-content: center;position: absolute;border-radius: 100px; left: 47%; top:50%;"
        class="btn btn-primary" onclick="capture()">
        Capture
      </button>

      <form action="/facereg" method="post" enctype="multipart/form-data">
        <input type="text" required="true" placeholder="Username" class="form-control" id="name" name="name"
          style="align-content: center;position: absolute;width:20%;border-radius: 100px; left: 35%; top:50%;display: none;">
        <br>

        <input type="text" id="pic" name="pic" style="display:none">

        <button id="scan"
          style="align-content: center;position: absolute;border-radius: 100px;display: none; left: 52%; top:50%;"
          class="btn btn-primary">
          scan
        </button>

      </form>

    </div>
    <script>
      const player = document.getElementById('player');
      const canvas = document.getElementById('canvas');
      const context = canvas.getContext('2d');
      const captureButton = document.getElementById('capture');
      const scan = document.getElementById('scan');
      const img = document.getElementById('pic');
      const name = document.getElementById('name');

      const vgaconstraints = {
        video: { width: { exact: 720 }, height: { exact: 480 } },
      };

      function capture() {
        canvas.style.position = "relative";
        canvas.style.left = "0%";
        canvas.style.top = "0%";
        canvas.style.width = "720px";
        canvas.style.height = "480px"

        context.drawImage(player, 0, 0, canvas.width, canvas.height);
        player.style.display = "none";
        captureButton.style.display = "none";
        scan.style.display = "block";
        name.style.display = "block";

        cap = canvas.toDataURL('image/png').split(",")[1];
        img.value = cap;

      }

      function stop() {
        player.srcObject.getVideoTracks().forEach(track => track.stop());
      }



      navigator.mediaDevices.getUserMedia(vgaconstraints)
        .then((stream) => {
          // Attach the video stream to the video element and autoplay.
          player.srcObject = stream;
        });
    </script>


    </html>
    {% endblock %}